<!DOCTYPE html>
<html>
  <head>
  	<meta name= "viewport" content= "width=device-width, initial-scale=1">
    <title> Smart Lock Top </title>
    <link rel='stylesheet' href='/stylesheets/lock.css' />
  </head>
  <body>
    <div class = "wrapped">

  <div>
  <input id = "logoutButton" type = "button" name = "logout" value = "Logout">
</div>


    <div id = "wrapper">

    <h1 id = "myHeader"> Smart Lock Top </h1>

  <div>

<button type = "button" id = "unlockButton" >Unlock</button>

</div>

<div>

 <button type = "button" id = "lockButton" >Lock</button>

</div>


    <footer id = "info"></footer>

</div>
  	
    <script src="/javascripts/jquery-3.2.0.min.js"></script>
    <script src="/javascripts/main.js"></script>
</div>
  	</body>
</html>