<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Registration </title>
  <link rel='stylesheet' href='/stylesheets/loginAndReg.css' />
</head>

<body>

  <div class="wrapped">
    <div>
      <p>Please fill out the fields below then press register. If you already have an account press login.</p>
      <% if(errors) {%>
        <ul>
          <% errors.forEach(function(error){ %>
           <li> 
             <%= error.msg %>
           </li>
              <% }); %>
        </ul>
        <% } %>

    </div>

    <form id="regForm" action="/users/register" method="POST">

      <div>
        <label for="userName"> Username </label>
        <br>
        <input id="username" type="text" name="username" max="30" placeholder="Username">
      </div>

      <div>
        <label for="passwordRegBox"> Password: </label>
        <br>
        <input id="passwordRegBox" type="password" name="passwordRegBox" max="30" placeholder="Password">
      </div>

      <div>
        <label for="verifyBox"> Verify Password: </label>
        <br>
        <input id="verifyBox" type="password" name="verifyBox" max="30" placeholder="Verify Password">
      </div>

      <div>
        <label for="unlock"> webhook for unlock: </label>
        <br>
        <input id="unlock" type="text" name="unlock" max="30" placeholder="webhook for unlock">
      </div>

      <div>
        <label for="lock"> webhook for lock: </label>
        <br>
        <input id="lock" type="text" name="lock" max="30" placeholder="webhook for lock">
      </div>

      <div>
        <input id="regButton" type="submit" Value="Register">

        <input id="logRegButton" type="button" Value="Back to login">
      </div>


    </form>

  </div>

  <script src="/javascripts/jquery-3.2.0.min.js"></script>
  <script src="/javascripts/main.js"></script>

</body>

</html>